<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info - Kovács Béla</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>


<body>
    <div class="container">

        <div class="d-flex justify-content-center">
            <div class="btn btn-outline-danger rounded-pill text-center border-1 m-3 p-2">
                <p class="">Warning! This is a course project
                    and created for educational purpose, all the data are generated randomly.</p>
            </div>
        </div>


        <p class="h3 mb-3">Kovács Béla</p>

        <table class="table table-hover table-sm ">
            <tr>
                <td>Username</td>
                <td th:text="${user.username}">belus1980</td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${user.fullname}">Béla Kovács</td>
            </tr>
            <tr>
                <td>Account Created</td>
                <td th:text="${user.creationDate}">2007.05.07.</td>
            </tr>

            <tr>
                <td>Email</td>
                <td th:text="${user.email}">belus@belus.com</td>
            </tr>
            <tr>
                <td th:text="${user.address}">Address</td>
                <td>H-7005 Hungary, Taktaharkány, Part utca 435.</td>
            </tr>

            <!-- <td>Accounts</td>  -->

        </table>








        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>

</html>